{% load static %}

<!DOCTYPE html>
<html>

<head>
<title>{{ book.title }}</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<a href="/">← Back</a>

<div class="book-card" style="width:300px; margin-top:20px;">

<img src="https://covers.openlibrary.org/b/title/{{ book.title }}-L.jpg">

<div class="book-title">{{ book.title }}</div>

<div class="book-author">{{ book.author }}</div>

<div>⭐ {{ book.rating }}</div>

<div class="tropes">
{% for trope in book.tropes.all %}
{{ trope.name }}{% if not forloop.last %}, {% endif %}
{% endfor %}
</div>

</div>

</body>
</html>
